/*Navigation Bar Styling*/
nav {
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    text-align: center;
}

nav * {
    display: inline;
    color: lightgrey;
    text-decoration: none;
    vertical-align: middle;
}

nav li {
    padding-left: 18mm;
}

nav :hover {
    color: white;
}

/*Body Styling*/
body {
    font-family:'Gill Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*Products Styling*/
.iphone12 {
    height: 760px;
    background-color: white;
    display: inline-block;
}

.iphone12 h1 {
    text-align: center;
    padding-top: 0.5in;
    font-size: 50px;
    margin-bottom: 0;
}

.iphone12 h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}

.iphone12 p {
    font-size: 17px;
    text-align: center;
    margin-left: 774px;
    margin-right: 775px;
    color: #9B9BA0;
}

.iphone12 ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 18px;
}

.iphone12 ul * {
    color: blue;
    text-decoration: none;
}

.iphone12 ul li {
    display: inline;
    color: #0066CC;
    padding-right: 5mm;
}

.iphone12 ul li :hover {
    text-decoration: underline;
    color: darkblue;
}

.iphone12 img {
    margin-left: 532px;
}

.iphone12pro {
    height: 780px;
    background-color: black;
    margin-top: -7mm;
}

.iphone12pro h1 {
    color: white;
    text-align: center;
    padding-top: 0.4in;
    font-size: 50px;
    margin-bottom: 0;
}

.iphone12pro h2 {
    text-align: center;
    color: white;
    font-weight: normal;
    margin-top: 0;
}

.iphone12pro p {
    font-size: 17px;
    text-align: center;
    margin-left: 774px;
    margin-right: 775px;
    color: #9B9BA0
}

.iphone12pro ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 18px;
}

.iphone12pro ul * {
    color: cornflowerblue;
    text-decoration: none;
}

.iphone12pro ul li {
    display: inline;
    color: blue;
    padding-right: 5mm;
}

.iphone12pro ul li :hover {
    text-decoration: underline;
    color: blue;
}

.iphone12pro img {
    margin-left: 350px;
}

.applecard {
    height: 780px;
    background-color: white;
    margin-bottom: -30mm;
}

.applecard #logo {
    height: 40px;
    width: auto;
    margin-left: 854px;
    display: inline;
    margin-top: 40px;
}

.applecard h1 {
    padding-top: 0.4in;
    text-align: center;
    font-size: 50px;
    display: inline;
}

.applecard h2 {
    text-align: center;
    margin-left: 7.7in;
    margin-right: 7.7in;
    font-weight: normal;
}

.applecard ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 20px;
}

.applecard ul * {
    color: blue;
    text-decoration: none;
}

.applecard ul li {
    display: inline;
    color: blue;
    padding-right: 5mm;
}

.applecard ul li :hover {
    text-decoration: underline;
    color: darkblue;
}

.ipadair {
    height: 670px; 
    width: 940px;
    background-color: white;
    display: inline-block;
}

.ipadair h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
}

.ipadair h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}

.ipadair ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 18px;
}

.ipadair ul * {
    color: blue;
    text-decoration: none;
}

.ipadair ul li {
    display: inline;
    color: blue;
    padding-right: 5mm;
}

.ipadair ul li :hover {
    text-decoration: underline;
    color: darkblue;
}

.ipadair img {
    margin-left: 50px;
}

.watch {
    height: 670px;
    width: 940px;
    background-color: black;
    display: inline-block;
}

.watch #logo {
    height: 35px;
    width: auto;
    margin-left: 390px;
    display: inline;
    margin-top: 40px;
}

.watch h1 {
    margin-top: 40px;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
    display: inline;
}

.watch h2 {
    color: white;
    text-align: center;
    font-weight: normal;
    margin-top: 0;
}

.watch h4 {
    text-align: center;
    color: red;
    margin-top: 0;
    margin-bottom: 0;
}

.watch ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 18px;
}

.watch ul * {
    color: cornflowerblue;
    text-decoration: none;
}

.watch ul li {
    display: inline;
    color: blue;
    padding-right: 5mm;
}

.watch ul li :hover {
    text-decoration: underline;
    color: blue;
}

.watch img {
    margin-left: 130px;
}

.macbook {
    height: 600px;
    width: 940px;
    background-color: black;
    display: inline-block;
}

.macbook h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.macbook h2 {
    text-align: center;
    color: white;
    font-weight: normal;
}

.macbook ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 20px;
}

.macbook ul * {
    color: cornflowerblue;
    text-decoration: none;
}

.macbook ul li {
    display: inline;
    color: blue;
    padding-right: 5mm;
}

.macbook ul li :hover {
    text-decoration: underline;
    color: blue;
}

.macbook img {
    margin-left: 110px;
}

.fitness {
    height: 600px;
    width: 940px;
    background-color: white;
    display: inline-block;
    margin-bottom: -50px;
}

.fitness #logo {
    margin-left: 370px;
    display: inline;
}

.fitness h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    display: inline;
}

.fitness h2 {
    text-align: center;
    font-weight: normal;
    margin-left: 2.5in;
    margin-right: 2.5in;
    margin-top: 0;
}

.fitness ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 20px;
}

.fitness ul * {
    color: cornflowerblue;
    text-decoration: none;
}

.fitness ul li {
    display: inline;
    padding-right: 5mm;
}

.fitness ul li :hover {
    text-decoration: underline;
    color: darkblue;
}

.fitness #main {
    margin-left: 58px;
}

.appleone {
    height: 600px;
    width: 940px;
    background-color: white;
    display: inline-block;
    margin-top: -10mm;
}

.appleone #logo {
    margin-left: 400px;
    display: inline;
}

.appleone h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    display: inline;
}

.appleone h2 {
    text-align: center;
    font-weight: normal;
    margin-left: 290px;
    margin-right: 290px;
    margin-bottom: 20mm;
}

.appleone ul {
    text-align: center;
    padding-left: 0cm;
    font-size: 20px;
    margin-top: -15mm;
}

.appleone ul * {
    color: cornflowerblue;
    text-decoration: none;
}

.appleone ul li {
    display: inline;
    padding-right: 5mm;
}

.appleone ul li :hover {
    text-decoration: underline;
    color: darkblue;
}

.appleone img {
    margin-left: 45px;
}

/*This is an image w/ link attached*/
.appletv {
display: inline-block;
}

footer {
    text-align: center;
    background-color: darkgray;
    width: 200px;
}
