body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
.top {
  font-family: Josefin Slab;
  font-weight: bolder;
}
.top h1 {
    color: white;
    text-align: center;
    font-size: 28pt;
    margin-bottom: 0;
}
#navbar {
    background-color: rgb(34, 38, 37);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    margin-left: -2mm;
    transition: top 1s;
    border-bottom: white solid;
  }
  #navbar a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(32, 35, 61);
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    padding-top: 2mm;
    text-decoration: none;
    font-size: 17pt;
  }
  #navbar a:hover {
    background-color: rgb(0, 72, 105);
  }
  #navbar img {
      overflow: hidden;
      width: 2in;
      height: auto;
      margin: auto;
      display: flex;
  }
  #titlehere {
    margin-top: 3.6in;
    text-align: center;
    color: black;
  }
  .slideshow-container {
    max-width: 750px;
    position: relative;
    margin-left: 3.2in;
  }
  .Containers {
    display: inline-block;
  }
  .Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }
  .Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }
  .MessageInfo {
    color: black;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
  }
  .aboutus {
    margin-top: 1.6in;
    align-items: center;
  }
  #p1 {
    color: black;
    background-color: rgba(115, 115, 201, 0.411);
    height: 2.5in;
    width: 4.5in;
    font-size: 15pt;
    padding: 7mm 5mm 7mm 5mm;
    border-radius: 18px;
    display: inline-block;
    justify-content: space-between;
    align-self: center;
  }  
  #l1 {
    color: black;
    background-color: rgba(115, 115, 201, 0.411);
    height: 2.5in;
    width: 4.5in;
    font-size: 15pt;
    padding-left: 9mm;
    padding-top: 7mm;
    padding-bottom: 7mm;
    padding-right: 5mm;
    border-radius: 18px;
    display: inline-block;
    justify-content: space-between;
    align-self: center;
  }
  .sidebar {
    background-color: rgb(103, 160, 160);
    height: 5.1in;
    width: 3in;
    border-radius: 8px;
    float: right;
    margin-top: -5.3in;
    margin-right: 2in;
  }


  
