@media only screen and (max-width: 30in) {
    body {
        background-color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgb(73, 73, 73);
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      } 
      #myBtn:hover {
        background-color: #555;
      }
    #navbar {
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        transition: top 0.3s;
        border-bottom: 1mm solid white;
      }
      #navbar a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 15px;
        text-decoration: none;
        font-size: 17px;
      }
      #navbar a:hover {
        background-color: rgb(180, 180, 180);
        color: black;
      }
    .image {
        height: 3.5cm;
        margin-top: 28mm;
        background-color: rgba(146, 146, 146, 0.39);
        background-image: url(https://th.bing.com/th/id/Rbc4838f648d3408df3fa962326310636?rik=zBpjxCQk6jDTgA&riu=http%3a%2f%2fwww.clker.com%2fcliparts%2fK%2ff%2f9%2fQ%2ft%2fE%2fblack-mountain-hi.png&ehk=Ahq3HkNC4951I9q2jZCS9JA%2b2X1PyrZC2yHPA0u0%2bOg%3d&risl=&pid=ImgRaw);
    }
    #top h1 {
        text-align: center;
        font-size: 42pt;
        text-decoration: underline;
        margin-top: 1in;
    }
    .wide-border {
        border-bottom: 3px solid white;
        width: 9.1in;
    }
    .skills h2 {
        text-align: center;
        padding-top: 5mm;
        font-size: 18pt;
    }
    #about-bordered {
        color: whitesmoke;
        font-size: 15pt;
        background-color: rgba(0, 72, 114, 0.39);
        border-radius: 8pt;
        margin-right: auto;
        margin-left: auto;
        width: 6.6in;
        padding: 5mm 7mm 5mm 7mm;
    }
    .profile-link a {
        color: white;
        text-decoration: none;
        font-size: 16pt;
        padding-top: 6mm;
    }
    .profile-link {
        text-align: center;
        margin-bottom: 5mm;
        border: solid white;
        margin-left: auto;
        margin-right: auto;
        height: 7mm;
        width: 74mm;
        border-radius: 2mm;
    }
    .profile-link:hover {
        background-color: white;
        }.profile-link a:hover {
            color: black;
    }
    .wide-border-bottom {
        border-bottom: 2mm solid white;
        margin-left: auto;
        margin-right: auto;
        width: 16in;
    }
    #cdir-featured {
        text-align: center;
        font-size: 18pt;
    }    
    #cdir-learning {
        text-align: center;
        font-size: 18pt;
    }
    .project {
        background-color: rgba(128, 128, 128, 0.233);
        height: 2.4in;
        width: 13in;
        border-radius: 5mm;
        padding-top: 1mm;
        padding-bottom: 3mm;
        padding-left: 4mm;
        margin: 1cm auto 1cm auto;
    }
    .divider-short {
        width: 9.2in;
        border-bottom: 2pt solid white;
        margin-left: 0;
    }
    .divider-real-short {
        margin-left: 0;
        margin-bottom: 13px;
        border-bottom: 1mm dashed white;
        width: 2.5in;
    }
    .project button {
        height: 1.1cm;
        width: 4cm;
        border: solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12pt;
    }
    .project h4 {
        font-size: 16pt;
    }
    .project button:hover {
        background-color: white;
        color: black;
    }
    #border-about {
        border-bottom: dashed white;
        width: 14.3in;
        margin-left: auto;
        margin-right: auto;
    }
    #about {
        text-align: center;
        font-size: 13pt;
    }
    footer {
        margin-top: 1in;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } 
}

@media only screen and (max-width: 5in) {
    #about-bordered {
        width: 2.6in;
    }
    #navbar {
        transition: top 0.7s;
    }
    .wide-border {
        width: 2.8in;
    }
    .wide-border-bottom {
        width: 8.2cm;
    }
    .project {
        width: 2.9in;
        height: 2.8in;
    }
    .divider-short {
        width: 6cm;
    }
    .divider-real-short {
        width: 48mm;
    }
    #border-about {
        width: 2.8in;
    }
    #about {
        padding: 0 4mm 0 4mm;
    }
}
@media only screen and (min-width: 8in) and (max-width: 11in) {
    #about-bordered {
        width: 6in;
    }
    #navbar {
        transition: top 0.7s;
    }
    .wide-border {
        width: 7.2in;
    }
    .wide-border-bottom {
        width: 7in;
    }
    .project {
        width: 6.7in;
        height: 2.7in;
        margin-left: auto;
        margin-right: auto;
    }
    #border-about {
        width: 7in;
    }
    .divider-short {
        width: 4in;
    }
    #about {
        padding-left: 12mm;
        padding-right: 12mm;
    }
}
@media only screen and (min-width: 11.5in) and (max-width: 19in) {
    .wide-border-bottom {
        width: 11in;
    }
    .project {
        width: 9in;
        height: 2.4in;
    }
    .divider-short {
        width: 8in;
    }
    #border-about {
        width: 10.5in;
    }
    #about {
        padding-left: 10mm;
        padding-right: 10mm;
    }
}


   



