    body {
        background-color: black;
        font-family: Share Tech Mono;
        color: white;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .image {
        height: 135px;
        margin-top: 0;
        background-color: rgba(146, 146, 146, 0.39);
        background-image: url(https://th.bing.com/th/id/Rbc4838f648d3408df3fa962326310636?rik=zBpjxCQk6jDTgA&riu=http%3a%2f%2fwww.clker.com%2fcliparts%2fK%2ff%2f9%2fQ%2ft%2fE%2fblack-mountain-hi.png&ehk=Ahq3HkNC4951I9q2jZCS9JA%2b2X1PyrZC2yHPA0u0%2bOg%3d&risl=&pid=ImgRaw);
    }
    .top h1 {
        text-align: center;
        font-size: 42pt;
        text-decoration: underline;
    }
    .wide-border {
        border-bottom: 3px solid white;
        width: 900px;
    }
    .skills h2 {
        text-align: center;
        padding-top: 5mm;
        font-size: 18pt;
    }
    #about-bordered {
        color: whitesmoke;
        font-size: 15pt;
        background-color: rgba(0, 72, 114, 0.39);
        border-radius: 8pt;
        margin-right: auto;
        margin-left: auto;
        width: 625px;
        padding: 5mm 7mm 5mm 7mm;
    }
    .profile-link a {
        color: white;
        text-decoration: none;
        font-size: 16pt;
        padding-top: 6mm;
    }
    .profile-link {
        text-align: center;
        margin-bottom: 5mm;
        border: solid white;
        margin-left: auto;
        margin-right: auto;
        height: 25px;
        width: 300px;
        border-radius: 8px;
    }
    .profile-link:hover {
        background-color: white;
        }.profile-link a:hover {
            color: black;
    }
    .wide-border-bottom {
        border-bottom: 5px solid white;
        margin-left: auto;
        margin-right: auto;
        width: 1500px;
    }
    #cdir {
        text-align: center;
        font-size: 18pt;
    }
    .project {
        background-color: rgba(128, 128, 128, 0.233);
        height: 220px;
        width: 1300px;
        border-radius: 18px;
        padding-top: 4px;
        padding-bottom: 15px;
        padding-left: 15px;
        margin: 1cm auto 1cm auto;
    }
    .divider-short {
        width: 900px;
        border-bottom: 2pt solid white;
        margin-left: 0;
    }
    .divider-real-short {
        margin-left: 0;
        margin-bottom: 13px;
        border-bottom: 2pt dashed white;
        width: 225px;
    }
    .project button {
        height: 40px;
        width: 140px;
        border: solid white;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        font-family: Share Tech Mono;
        font-size: 12pt;
    }
    .project h4 {
        font-size: 15pt;
    }
    .project button:hover {
        background-color: white;
        color: black;
    }
    #border-about {
        border-bottom: dashed white;
        width: 1350px;
        margin-left: auto;
        margin-right: auto;
    }
    #about {
        text-align: center;
        font-size: 13pt;
    }
    footer {
        margin-top: 1in;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }



