/*Larger than 750px Sizing*/
@media only screen and (min-width: 750px) {
/*Main Paragraph Styling*/

body {
  background-color: tan;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.explanation {
  font-size: 25px;
  display: flex;
}

/*End Main Paragraph Styling*/

.servings {
color: red;
}

#last-span {
text-decoration: underline;
font-style: italic;
}

.lists {
  display: inline-flex;
}

h2 {
  padding-right: 4mm;
  padding-left: 8mm;
  align-content: center;
}

/* Unordered List Styling*/

.needed-list {
  font-size: 17px;
  border: solid;
  background-color: cornsilk;
  border-radius: 20px;
  width: 385px;
 
}

.needed-list li {
position: relative;
padding-left: 25px;
list-style: none;
}
.needed-list li:before {
content: '';
width: 20px;
height: 20px;
position: absolute;
background-image: url('https://image.flaticon.com/icons/png/512/83/83466.png');
background-size: cover;
background-position: center;
left: 0;
top: 50%;
transform: translateY(-50%);
}
/*Ordered List Roman Numerals*/

.steps-list {
list-style: upper-roman;
border: solid;
background-color: white;
border-radius: 20px;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
  font-size: 55px;
  text-align: center;
}

/*Image Sizing*/
img {
  width: 500px;
  height: auto;
  padding-left: 75px;
  padding-top: 15px;
  align-content: center;
}

#img-one {
  padding-bottom: 47px;
  padding-top: 47px;
  margin-left: 3.1in;
}

/*End Image Sizing*/

header {
  padding: 30px;
}

footer {
  padding-bottom: 20px;
  padding-top: 15px;
}
 
}

/*Less than 400px Sizing*/
  @media only screen and (max-width: 400px){

    /*Main Paragraph Styling*/

  body {
    background-color: tan;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  .explanation {
    font-size: 20px;
    text-align: center;
  }

/*End Main Paragraph Styling*/

  .lists {
    font-size: 17px;
  }

  .lists li {
    padding-bottom: 5mm;
  }
.servings {
  color: red;
}

#last-span {
 text-decoration: underline;
 font-style: italic;
}

/* Unordered List Styling*/

.needed-list {
    font-size: 17px;
    border: solid;
    background-color: cornsilk;
    border-radius: 20px;
}

.needed-list li {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  padding-left: 25px;
  list-style: none;
}
.needed-list li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('https://image.flaticon.com/icons/png/512/83/83466.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/*Ordered List Styling*/

.steps-list {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: upper-roman;
  border: solid;
  background-color: white;
  border-radius: 20px;
}

  h1 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
  }

/*Image Sizing*/
  img {
    width: 250px;
    height: auto;
    padding-left: 0.7in;
    padding-right: 0.8in;
  }

  #img-one {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 0in;
  }

/*End Image Sizing*/

  header {
    padding: 30px;
  }

  footer {
    padding-bottom: 20px;
    padding-top: 15px;
  }
  }

@media only screen and (max-width: 750px) and (min-width: 401px) {
      /*Main Paragraph Styling*/

      body {
        background-color: tan;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      }
      .explanation {
        font-size: 25px;
        text-align: center;
      }
    
    /*End Main Paragraph Styling*/
    
      .lists {
        font-size: 18px;
      }

    .servings {
      color: red;
    }
    
    #last-span {
     text-decoration: underline;
     font-style: italic;
    }
    
    /* Unordered List Styling*/
    
    .needed-list {
        font-size: 17px;
        border: solid;
        border-radius: 20px;
        background-color: cornsilk;
    }
    
    .needed-list li {
      position: relative;
      padding-left: 25px;
      list-style: none;
    }
    .needed-list li:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      background-image: url('https://image.flaticon.com/icons/png/512/83/83466.png');
      background-size: cover;
      background-position: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    /*Ordered List Styling*/
    
    .steps-list {
      list-style: upper-roman;
      border: solid;
      background-color: cornsilk;
      border-radius: 20px;
    }

    .steps-list li {
      padding-bottom: 5mm;
    }
    
      h1 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 55px;
        text-align: center;
      }
    
    /*Image Sizing*/
      img {
        width: 250px;
        height: auto;
        align-content: center;
        padding-right: 25px;
        padding-left: 5px;
      }
    
      #img-one {
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 1.2in;
      }
    
    /*End Image Sizing*/
    
      header {
        padding: 30px;
      }
    
      footer {
        padding-bottom: 20px;
        padding-top: 15px;
      }
}
  
